.chat-main
  .chat-main__groups
    .chat-main__groups__box
      .chat-main__groups__box__left
        .chat-main__groups__box__left__groupname
          - current_user.groups.each do |group|
            = group.name
        .chat-main__groups__box__left__membername
          %p.chat-main__groups__menber-user
            Menber :
            %ul
              - @group.users.each do |user|
                %li= user.name
          %p.chat-main__groups__menber-name
          
    .chat-main__groups__box
      .chat-main__groups__box__editbtn
        = link_to edit_group_path(current_user), class: 'Edit' do
          Edit



  .chat-main__messages-list
    = render @messages

  .chat-main__forms
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__forms__message', placeholder: 'type a message'
      .forms__mask
        = f.label :image, class: 'forms__mask__imege' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'forms__submit'