.side-bar
  .side-bar__user-name
    .side-bar__box
      %h3.side-bar__box__box-name
        = current_user.name
      %ul.side-bar__menu
        %li.__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
        %li.side-bar__menu__icon
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit', class: 'icon-name')

  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__list
        = link_to group_messages_path(group) do
          .side-bar__group__list__name
            = group.name
          .side-bar__group__list__name-massage
            まだメッセージはありません
